@font-face {
	font-family: "oswald";
	src: url("./fonts/oswald/Oswald-Bold.ttf");
}
@font-face {
	font-family: "abril";
	src: url("./fonts/abril-fatface/AbrilFatface-Regular.otf");
}
@font-face {
  font-family: "FuturaMD";
  src: url("./fonts/Futura-medium-bt.ttf");
}
@font-face {
  font-family: "Pangram Light";
  src: url("./fonts/Pangram-Light.otf");
}
@font-face {
  font-family: "Pangam Regular";
  src: url("./fonts/Pangram-Regular.otf");
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: auto;
  display: block;
  border: solid 1px #fff;
  image-rendering: auto;
  width: 100%;
  box-shadow: 0 5px 10px 2px #00000075;
}

.buttons {
  position: fixed;
  bottom: 5px;
  background: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Roboto Mono", sans-serif;
  border-radius: 4px;
  border: 1px solid #fff;
  text-align: center;
  opacity: 0.6;
}

.buttonLeft {
  left: 10px;
  width: 30px;
}

#buttonS {
  left: 50px;
}

.buttonRight {
  right: 10px;
  padding: 0 5px;
}

#buttonUp {
  right: 65px;
}

button {
  right: 0;
  left: 0;
  width: 100px;
  height: 45px;
  margin: 0 auto;
  border-radius: 100px;
  border: 2px solid #502a46;
  cursor: pointer;
  background: #321b38;
  color: white;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 3px 10px 0px #00000066;
  outline: none;
}

button:hover {
  background: transparent;
  color: #dc7f6f;
  border-color: #c18562;
}

video {
  margin: auto;
  display: flex;
  height: auto;
  box-shadow: 1px 3px 8px 2px #0000008f;
}

.calibration-wrapper {
  background: #202020;
  /*
  background-image: url("./img/texture-background-wallpaper-black-wood1-1920x1080.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  font-family: "Pangram Light";
  margin: auto;
  width: 35%;
}

.calibration-wrapper > p {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
  font-weight: 500;
  font-family: "FuturaMD";
  letter-spacing: 2px;
}

.calibration-btns-wrapper {
  text-align: center;
}

.calibration-btn {
  /*display: inline-flex;*/
  display: inline-grid;
  padding: 20px;
  color: #7cf8ff;
}

.calibration-btn > span {
  padding: 10px;
}
